@mixin centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@mixin flexStandart($gap: null, $justifyContent: space-between) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
  gap: $gap;
}
@mixin box($width, $height, $bg) {
  width: $width;
  height: $height;
  background-color: $bg;
}
