@mixin centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@mixin flexStandart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
