@use "/src/scss/helpers/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  color: $black-color;
  background-color: $white-color;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-inline-size: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-inline: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}

section {
  padding-block: 70px 90px;
}
@media screen and (min-width: 768px) {
  section {
    padding-block: 90px 120px;
  }
}

@media screen and (min-width: 1920px) {
  section {
    padding-block: 130px 150px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
