@use "/src/scss/helpers/variables.scss" as *;

.title__h2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 900;
  color: $black-color;
  text-align: left;
  min-height: fit-content;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .title__h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .title__h2 {
    font-size: 48px;
  }
}

@media screen and (min-width: 1000px) {
  .title__h2 {
    margin-bottom: 30px;
  }
}

.title__h3 {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.3;
  color: $white-color;
  margin-bottom: 20px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}
p:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 21px;
  }
}
