@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.catalog {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 20px;
    align-items: stretch;
    row-gap: 20px;
  }
}

@media screen and (min-width: $media-md) {
  .catalog {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
  }
}

@media screen and (min-width: $media-lg) {
  .catalog {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(349px, 1fr));
    }
  }
}

@media screen and (min-width: $media-xl) {
  .catalog {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

@media screen and (min-width: $media-xxl) {
  .catalog {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, minmax(396px, 1fr));
      column-gap: 30px;
    }
  }
}

.product__list-extra {
  display: none;
}

.catalog__wrapper.is-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .product {
    flex-direction: column;
    background-color: $white-color;
    border: 1px solid $grey-color;
    border-radius: 25px;
    padding: 20px;
  }

  .product:not(:last-child) {
    padding-right: 20px;
  }

  .product__bg {
    width: 100%;
    margin-block-end: 16px;
  }

  .product__footer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .product__list-extra {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .product__description {
    color: rgba($black-color, 0.7);
    font-size: 15px;
  }

  .product__color {
    font-size: 15px;
  }

  .product__add-btn {
    align-self: flex-start;
    margin-top: 8px;
  }
}

@media screen and (min-width: $media-md) {
  .catalog__wrapper.is-list {
    .product {
      flex-direction: row;
      align-items: center;
      column-gap: 24px;
    }

    .product__bg {
      flex: 0 0 160px;
      width: 160px;
      margin-block-end: 0;
    }
  }
}
