@use "/src/scss/helpers/variables.scss" as *;

.eco {
  position: relative;
  text-align: center;
  &::before {
    content: url(/src/icons/decor.svg);
    width: 100px;
    height: 100px;
    position: absolute;
    border: 3px solid $black-color;
    border-radius: 50%;
    color: $black-color;
    background-color: $white-color;
    padding: 20px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & .title__h2 {
    text-align: center;
  }
  & p {
    text-wrap: pretty;
  }
}
