@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.footer {
  background-color: $black-color;
  padding-inline: 20px;
  padding-block: 70px 40px;
  color: $white-color;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__logo {
    color: $white-color;
    margin-bottom: 30px;
    min-height: 40px;
    & svg {
      display: block;
      align-self: flex-end;
    }
  }
  &__nav {
    &_collapsible {
      & summary {
        cursor: pointer;
        @include flexStandart;
        list-style: none;
        position: relative;
        // padding-right: 24px;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 1.4;
        &::-webkit-details-marker {
          display: none;
        }
      }
      & details {
        padding-bottom: 25px;
        border-bottom: 1px solid $white-color;
        transition: transform $transition;
        &[open] .arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    transition: all 0.3s ease-out;
    color: rgba($color: $white-color, $alpha: 0.8);
    &:hover {
      transform-origin: top left;
    }
  }
  &__bottom {
    padding-block: 50px 41px;
    display: flex;
    column-gap: 40px;
    font-size: 15px;
    color: $white-color;
    line-height: 1.3;
    & small,
    & a {
      font-size: inherit;
      color: rgba($color: $white-color, $alpha: 0.3);
    }
  }
}

@media screen and (min-width: 480px) {
  .footer {
    &__header {
      display: flex;
      flex-direction: row;
      column-gap: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      padding-block: 90px 50px;
      padding-inline: 20px;
      max-width: 720px;
      margin: 0 auto;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto 1fr;
      align-items: start;
      column-gap: 90px;
    }
    &__header {
      grid-column: 1 / -1;
    }
    &__nav {
      display: contents;

      &_collapsible {
        & details {
          border-bottom: none;
          padding-bottom: 0;
          padding-right: 0;
          & summary {
            display: block;
            pointer-events: none;
            cursor: default;
            font-size: 24px;

            & .arrow-icon {
              display: none;
            }
          }
        }
      }
    }
    &__bottom {
      grid-column: 1 / -1;
      padding-block-start: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    &__wrapper {
      max-width: 960px;
      padding-block: 90px 120px;
      grid-template-columns: repeat(4, auto);
      // grid-template-rows: auto 1fr;
      row-gap: 60px;
      column-gap: 80px;
    }
    &__header {
      flex-direction: column;
      column-gap: 30px;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      align-items: flex-start;
      row-gap: 30px;
    }
    &__nav {
      & details {
        grid-row: 1 / -1;
      }
    }
    &__bottom {
      grid-column: 1 / 2;
      padding-block: 0;
      grid-row: 2 / 3;
      align-self: flex-end;
      justify-self: flex-start;
      border-top: none;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    &__wrapper {
      padding-block: 150px;
      max-width: 1440px;
      column-gap: 150px;
    }
  }
}
