@use "/src/scss/helpers/variables.scss" as *;

.footer {
  background-color: $black-color;
  padding-inline: 20px;
  padding-block: 70px 40px;
  color: $white-color;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  &__logo {
    color: $white-color;
  }
  &__nav {
    &_collapsible {
      & summary {
        cursor: pointer;
        list-style: none;
        position: relative;
        padding-right: 24px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        display: flex;
        justify-content: space-between;

        &::-webkit-details-marker {
          display: none;
        }
      }
      & details {
        padding-bottom: 25px;
        border-bottom: 1px solid $white-color;
        transition: transform 0.3s ease;
        &[open] .arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    transition: all 0.3s ease-out;
    &:hover {
      transform-origin: top left;
    }
  }
  &__bottom {
    padding-block: 50px 41px;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    color: $white-color;
    line-height: 1.3;
    & small,
    & a {
      font-size: inherit;
      opacity: 0.3;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      padding-block: 90px 50px;
      padding-inline: 0;
      max-width: 720px;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
    }

    &__header {
      grid-column: 1 / -1;
    }
    &__nav {
      display: contents;
      &_collapsible {
        & details {
          border-bottom: none;
        }
        & summary {
          pointer-events: none;
          cursor: default;
          & .arrow-icon {
            display: none;
          }
        }
      }
    }
    &__bottom {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    &__wrapper {
      max-width: 960px;
      padding-block: 90px 120px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    &__wrapper {
      padding-block: 150px;
      max-width: 1440px;
    }
  }
}
