@use "/src/scss/helpers/variables.scss" as *;
.header {
  padding: 1.25rem 0;

  &__navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 10px;

    &-burger {
      justify-self: start;
      background-color: transparent;
      border: transparent;
      width: 2.75rem;
      height: 2.75rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      transition: transform 0.1s ease;

      span {
        width: 100%;
        height: 2px;
        background-color: $black-color;
        border-radius: 1px;
        &:nth-child(2) {
          width: 75%;
        }
      }
    }

    &-logo {
      justify-self: center;
      width: 52px;
      height: 36px;

      &-link {
        img {
          width: 100%;
          object-fit: cover;
        }
        &_480 {
          display: none;
        }
      }
    }

    &-right {
      justify-self: end;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    &-search {
      display: none;
      label {
        display: none;
      }
      input {
        display: none;
      }
    }
  }
}

.menu {
  &__list {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100%;
    background-color: $white-color;
    z-index: 10;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    &.active {
      transform: translateY(0);
    }
  }
  &__close {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) {
  .header {
    &__navbar {
      &-logo {
        width: 12rem;
        height: 2.25rem;
        &-link {
          display: none;
          &_480 {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-block: 1.875rem;
    &__navbar {
      &-logo {
        width: 15.4375rem;
        height: 2.9375rem;
      }
      &-search {
        display: inline-block;
        width: 44px;
        height: 44px;
        padding: 0.375rem 0.75rem 0.375rem 2.5rem;
        background: url("/src/icons/search.svg") no-repeat 10px center;
        background-size: 28px;
        input[type="search"] {
          appearance: none;
          outline: none;
          border: 1px solid transparent;
          background-color: transparent;
          pointer-events: none;
        }
        label {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    &__navbar {
      &-right {
        column-gap: 3.125rem;
        font-size: 21px;
      }
      &-search {
        background: none;

        label {
          display: block;
        }
      }
    }
  }
}
