@use "/src/scss/helpers/variables.scss" as *;
.header {
  padding-block: 1.25rem;

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-burger {
      background-color: transparent;
      border: 1px solid $black-color;
      width: 2.75rem;
      height: 2.75rem;
      span {
        display: inline-block;
        width: 100%;
        height: 1px;
        color: red;
      }
    }
    &-logo {
      width: 3.25rem;
      height: 2.25rem;
      object-fit: cover;
      align-self: self-end;
    }
  }
}
