@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.header {
  padding: 1.25rem 0;

  &__wrapper {
    position: relative;
    @include flexStandart;
    min-height: 36px;
    column-gap: 10px;
  }
  &__left,
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__left {
    justify-content: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    column-gap: 16px;
    &_burger {
      cursor: pointer;
      justify-self: start;
      background-color: transparent;
      border: transparent;
      width: 2.75rem;
      height: 2.75rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      transition: transform 0.1s ease;

      span {
        width: 100%;
        height: 2px;
        background-color: $black-color;
        border-radius: 1px;
        &:nth-child(2) {
          width: 75%;
        }
      }
    }
  }

  &__center {
    // width: 192px;
    @include centerAbs;
    &_link {
      &_short {
        display: inline-block;
      }
      &_long {
        display: none;
      }
    }
  }

  &__right {
    width: 62px;
    justify-content: flex-end;
    // justify-content: space-between;
    gap: 15px;
    &_search {
      display: none;
      label {
        display: none;
      }
      input {
        display: none;
      }
    }
  }
  .menu {
    display: none;
    &__list {
      position: absolute;
      inset: 0;
      height: 100vh;
      width: 100%;
      z-index: 10;
      background-color: $white-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      transform: translateY(-100%);
      &.active {
        transform: translateY(0);
      }
    }
    &__close {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }
  .menu__desktop {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header {
    &__center {
      &_link {
        &_short {
          display: none;
        }
        &_long {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-block: 1.875rem;
    &__center {
      width: 15.4375rem;
    }
    &__right {
      &_search {
        display: inline-block;
        width: 44px;
        height: 44px;
        padding: 0.375rem 0.75rem 0.375rem 2.5rem;
        background: url("/src/icons/search.svg") no-repeat 10px center;
        background-size: 28px;
        input[type="search"] {
          appearance: none;
          outline: none;
          border: 1px solid transparent;
          background-color: transparent;
          pointer-events: none;
        }
        label {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    &-right {
      column-gap: 3.125rem;
      font-size: 21px;
      &_search {
        background: none;

        label {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__left {
      &_burger {
        display: none;
      }
    }
    .menu__desktop {
      display: block;
      .menu__list {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: none;
        height: auto;
        justify-content: flex-start;
        column-gap: 20px;
      }
    }
  }
}
