@use "/src/scss/helpers/variables.scss" as *;
.header {
  padding-block: 1.25rem;

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
    &-burger {
      background-color: transparent;
      border: transparent;
      width: 2.75rem;
      height: 2.75rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      transition: background-color 0.2s ease, transform 0.1s ease;

      span {
        width: 100%;
        height: 2px;
        background-color: $black-color;
        border-radius: 1px;
        &:nth-child(2) {
          width: 75%;
        }
      }
    }
    &-logo {
      position: absolute;
      width: 52px;
      height: 36px;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      &-link {
        img {
          width: 100%;
          object-fit: cover;
        }
        &_480 {
          display: none;
        }
      }
    }
    &-search {
      display: none;
    }
    &-basket {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        color: $black-color;
        font-size: 1.3125rem;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .header {
    &__navbar {
      &-logo {
        width: 12rem;
        height: 2.25rem;
        &-link {
          display: none;
          &_480 {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-block: 1.875rem;
    &__navbar {
      &-logo {
        width: 15.4375rem;
        height: 2.9375rem;
      }
      &-search {
        display: block;
        outline: none;
        width: 44px;
        height: 44px;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem 0.375rem 2.5rem;
        background-color: transparent;
        padding-left: 40px;
        background: url("/src/icons/search.svg") no-repeat 10px center;
        background-size: 28px;
      }
    }
  }
}
