@use "/src/scss/helpers/variables.scss" as *;

.hero {
  min-height: 100vh;
  background:
    url("/src/image/hero-bg.png"),
    linear-gradient(to bottom, $beige-color 65%, $black-color 65%);

  background-repeat: repeat-x;
  background-position: bottom, top;
  background-size:
    auto 35%,
    100% 100%;

  padding-block: 4.375rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.1875rem;
  }

  h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-block-end: 20px;
  }
  p {
    font-size: 1.0625rem;
    line-height: 140%;
    text-align: start;
    margin-bottom: 35px;
  }
  &__slider {
    margin-bottom: 35px;
    padding: 20px;
    border: 3px dashed green;
    width: 300px;
    height: 80vh;
    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 20px;

      img {
        width: 100%;
        transform: rotate(10deg);
      }
    }
  }
}

.swiper-pagination-vertical {
  right: 10px;
}
.swiper-pagination-horizontal {
  bottom: 10px;
}
