@use "/src/scss/helpers/variables.scss" as *;

.hero {
  min-height: 100vh;
  background:
    url("/src/image/hero-bg.png"),
    linear-gradient(to bottom, $beige-color 65%, $black-color 65%);

  background-repeat: repeat-x;
  background-position: bottom, top;
  background-size:
    auto 35%,
    100% 100%;

  padding-block: 4.375rem;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.1875rem;
  }
  &__content {
    outline: 1px dashed red;
    h1 {
      font-weight: 900;
      font-size: 2.5rem;
      margin-block-end: 20px;
    }
    p {
      font-size: 1.0625rem;
      line-height: 1.4;
      text-align: start;
      margin-bottom: 35px;
    }
  }
  &__slider {
    margin-bottom: 35px;
    padding: 20px;
    border: 3px dashed green;
    width: 300px;
    height: 50vh;
    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 20px;

      img {
        width: 100%;
        transform: rotate(-10deg);
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .hero {
    &__slider {
      width: 100%;
      &__wrapper {
        row-gap: 0;
      }
      &_item {
        & img {
          width: 180px;
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 60vh;
    background:
      url("/src/image/hero-bg-768.png"),
      linear-gradient(to right, $beige-color 68%, $black-color 32%);

    background-repeat: repeat-y;
    background-position: right, left;
    background-size:
      32% 100%,
      100% 100%;
    &__wrapper {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      justify-content: space-between;
    }
    &__content {
      width: 440px;
    }

    &__slider {
      position: relative;
      align-self: end;
      max-height: 500px;
      margin-left: auto;
      margin-right: 0;
      margin-top: auto;
      width: 370px;
      height: 320px;
      &_item {
        & img {
          position: absolute;
          padding: 25px;
          width: 251px;
          height: 241px;
        }
      }
    }
  }
}
