@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.mobile-menu {
  padding-block: 10px;
  &__burger {
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  &__toggler {
    display: none;
  }
  &__block {
    visibility: hidden;
    position: fixed;
    width: min(360px, 100vw);
    inset: 0;
    z-index: 100;
    padding: 30px 0 0 30px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  &__toggler:checked + &__block {
    visibility: visible;
    transform: translateX(0);
  }

  &__item {
    margin-bottom: 30px;
  }
  &__close {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  &__divider {
    margin-left: -30px;
    color: $grey-color;
  }
  &__form input {
    width: 100%;
    max-width: 300px;
    padding-block-end: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $black-color;
    &:focus-visible {
      outline: none;
      border-color: $beige-color;
    }
    &::placeholder {
      opacity: 0.3;
      color: $black-color;
      line-height: 1.4;
    }
  }
}

@media screen and (min-width: $media-xxl) {
  .mobile-menu {
    display: none;
  }
}
