@use "/src/scss/helpers/variables.scss" as *;

.popular {
  background-color: $white-color;
  &__slider {
    padding-block: 20px;
  }
  &__footer {
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
