@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.popular {
  background-color: $white-color;
  &__slider {
    padding-block-start: 20px;
  }
  &__footer {
    margin-top: auto;
    &-bottom {
      @include flexStandart;
    }
  }
}
