@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.socials {
  display: flex;
  gap: 15px;
  &__links {
    & a,
    a:visited {
      width: 40px;
      height: 40px;
      background-color: $white-color;
      color: $black-color;
      border-radius: 50%;
      padding: 10px;
      transition: all $transition;
      @include flexStandart(0, center);
      &:active {
        background-color: $black-color;
        outline: 2px solid $white-color;
        box-shadow: inset 0px 0px 0px 2px $white-color;
        transform: scale(1.2);
      }
      &:focus {
        outline: none;
      }

      &:focus-visible {
        background-color: $black-color;
        color: $white-color;
      }
    }
    & svg {
      display: block;
      width: 100%;
      fill: currentColor;
    }
  }
}

@media screen and (min-width: $media-xl) {
  .socials {
    &__links {
      & a:hover {
        background-color: $beige-color;
        color: $white-color;
        outline: 2px solid $accent-color;
        transform: scale(1.2);
      }
    }
  }
}
