@use "/src/scss/helpers/variables.scss" as *;

.socials {
  display: flex;
  gap: 15px;
  &__links svg {
    display: block;
    width: 40px;
    height: 40px;
    background-color: $white-color;
    color: $black-color;
    border-radius: 50%;
    padding: 10px;
    transition: all $transition;
    &:hover {
      background-color: $beige-color;
      transform: scale(1.2) translate(0, 150%);
    }
  }
}
