@use "/src/scss/helpers/variables.scss" as *;

.button-shop {
  background-color: $black-color;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 80px;
  border-radius: 6.25rem;
  max-width: fit-content;
  min-height: 3.4375rem;
}
