@use "/src/scss/helpers/variables.scss" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 80px;
  border-radius: 6.25rem;
  max-width: max-content;
  min-height: 3.4375rem;
  &-shop {
    background-color: $black-color;
    color: $white-color;
  }
  &-presentation {
    background-color: $white-color;
    color: $black-color;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.4;
  }
}
