@use "/src/scss/helpers/variables.scss" as *;
.cart {
  cursor: pointer;
  font-size: 21px;
  width: 44px;
  height: 44px;

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
