@use "/src/scss/helpers/variables.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__input {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid $black-color;
  }
  &__btn {
    width: max-content;
    background-color: $black-color;
    color: $white-color;
    text-transform: capitalize;
  }
}
