@use "/src/scss/helpers/variables.scss" as *;

.form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  & > input {
    flex: 1 1 100%;
  }
  &__input {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid $black-color;
  }
  &__btn {
    width: max-content;
    background-color: $black-color;
    color: $white-color;
    text-transform: capitalize;
    justify-self: start;
  }
}

@media screen and (min-width: 768px) {
  .form {
    row-gap: 45px;
  }
}
