@use "/src/scss/helpers/variables.scss" as *;

.slider {
  &_track {
    margin: 0 40px;
    // overflow: hidden;
    width: 100%;
  }
  &_item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 20px;

    & img {
      width: 240px;
      height: 232px;
      padding: 40px;
      object-fit: cover;
      border-radius: 25px;
      background-color: $beige-color;
    }
  }
  &_arrows {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
