@use "/src/scss/helpers/variables.scss" as *;

.slider {
  overflow: hidden;
  &_track {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &_item {
    background-color: transparent;

    min-height: 252px;
    flex-shrink: 0;
    width: 100%;

    & img {
      border-radius: 25px;
      background-color: $beige-color;
      height: 100%;
      padding: 40px;
      object-fit: cover;

      margin-bottom: 10px;
    }
  }
  &_arrows {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
