@use "/src/scss/helpers/variables.scss" as *;

.slider {
  &_track {
    margin: 40px 0;
    overflow: hidden;
    width: 100%;
  }
  &_item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 20px;
    max-width: 300px;
    max-height: 252px;

    & img {
      min-width: 100%;
      padding: 40px;
      object-fit: cover;
      border-radius: 25px;
      background-color: $beige-color;
    }
  }
  &_arrows {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
