@use "/src/scss/helpers/variables.scss" as *;
@use "/src/scss/helpers/mixin.scss" as *;

.slider {
  width: 100%;
  overflow: hidden;
  &_track {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &_item {
    background-color: transparent;
    min-height: 375px;
    flex-shrink: 0;
    width: stretch;
    min-width: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & img {
      position: relative;
      padding: 40px;
      object-fit: cover;
      margin-block-end: 10px;
      &::before {
        content: "";
        position: absolute;
        border-radius: 25px;
        background-color: $beige-color;
      }
      // &[data-active]::before {
      //   border-radius: 5000px;
      // }
    }
  }
  &_arrows {
    display: flex;
    justify-content: space-between;
  }
  &__pagination {
    @include flexStandart(30px, center);
    &_dot {
      @include box(16px, 16px, $grey-color);
      border-radius: 50%;
      cursor: pointer;
      border: none;
      &.active {
        background-color: $black-color;
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .slider {
    &_item {
      padding: 0 10px;
      min-height: 300px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .slider {
    &_item {
      padding: 0 15px;
    }
  }
}
